{
  "presets": [
    "react-app",
  ],
  "plugins": [
    "transform-decorators-legacy"
    ["lodash", {
      "id": [
        "lodash",
        "recompose",
        "semantic-ui-react",
      ],
    }],
  ]
}
