{
  "presets": [
    "react-app",
  ],
  "plugins": [
    "syntax-optional-catch-binding",
    "transform-optional-catch-binding",
    "transform-decorators-legacy",
    ["react-css-modules", {
      "generateScopedName": "local-[hash:base64:5]"
    }],
    ["lodash", {
      "id": [
        "lodash",
        "recompose",
        "semantic-ui-react",
      ],
    }],
  ]
}
